<% layout('layouts/boilerplate') %>
<a href="/campgrounds/new">Create new Campground</a>
<h1>List of Campgrounds</h1>
<ul>
  <% campgrounds.forEach(campground => { %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <img class="img-fluid" alt="" src="<%= campground.image %>" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
          <p class="card-text"><small><%= campground.location %></small></p>
          <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"
            >View</a
          >
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</ul>
